body,html {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  /* background: linear-gradient(287.56deg, #313340 0%, #4C4E5B 100%); */
  height:100%;
  min-height:100%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiInputLabel-outlined.MuiInputLabel-outlined-shrink{
  transform: translate(14px, -12px) scale(0.75);
}

::-webkit-scrollbar {
  width: 1px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #979797;
  border-radius: 10px;
}
.background-login{
  background: url(assets/background_login.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  /* transition: .5s ease; */
  background-color: #7988ff
  ;
}
.login-form{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.css-jzk4qw-MuiPaper-root-MuiAppBar-root{
  background-color: #FFF !important ;
  color: #7988ff !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  box-shadow:0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
  background: rgb(81, 94, 193) !important;
  color: #FFF !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  color: #FFF !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  padding: 0 !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before{
  height: 0 !important;
}
.css-15v22id-MuiAccordionDetails-root{
  padding : 0 !important;
}
.css-h4y409-MuiList-root{
  padding-top: 0 !important;
  margin-left: 1em !important;
}
.css-ciy9n4-MuiPaper-root-MuiAppBar-root{
  background: #FFF !important;
  color: rgb(81, 94, 193) !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  margin-left: 15px;
}
.css-1p823my-MuiListItem-root{
  padding-left: 0 !important;
}
/* .css-yw020d-MuiAccordionSummary-expandIconWrapper{
  margin-left: 3.5em;
} */
.MuiButtonBase-root{
  display: flex !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 2em !important;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
  opacity: 1;
  -webkit-text-fill-color: rgb(0 0 0 / 64%) !important;
  background: #d6d6d6 !important;
}

.App {
  font-family: sans-serif;
  text-align: flex-start;
}

p {
  margin: 0;
  margin-top: 10px;
}

input[type="file"] {
  border: 2px solid #333;
  display: none;
}

input[type="file"] + label {
  padding: 1em;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(81, 94, 193);
  border: 0px;
  margin-right: 15px;
  color: #f5f5f5;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 5px;
  background-color: aquamarine;
  border: 2px solid #333;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

